
.user_link {
  display: inline-block;
  font-size: 2.5rem;
  letter-spacing: 1px;
  text-decoration: none;
  padding-bottom: 8px;
  color: $defoult-font-color;
}
.user_link:hover {
  color: $font-hover-color;
}

.colections {
  width: 100%;
  height: 90%;
  margin-top: 15px;
  overflow-y: auto;
  padding: 10px;
  text-align: left;
  .colection {
    display: inline-block;
    margin: 10px;
    width: 100%;
    max-width: 30rem;
    .colection-image {
      width: 100%;
    }
  }
}
