%h2.heading
  検索方法

.o_b
  .o_b__inner
    .o_b__inner__name
      = link_to "名前で検索", users_path, class: "o_b_link"
    .o_b__inner__prefecture
      = link_to "場所で検索", all_prefecture_users_searches_path, class: "o_b_link"
