= form_with(url: prefecture_search_users_searches_path, local: true, method: :get, class: "search_form") do |f|
  = f.collection_select :prefecture, Prefecture.all, :id, :name,{ include_blank: ' 場所で検索 '}, class: "search_select"
