
.page_title {
  height: 100px;
  .dm_name {
    font-size: 2rem;
    text-shadow: 3px 3px 6px #dddddd;
    letter-spacing: 2px;
  }
}

.dm_contents {
  position: relative;
  width: 100%;
  height: calc(100% - 100px);
  padding-bottom: 100px;
  .messages {
    width: 50%;
    margin: 0 auto;
    padding-right: 40px;
    overflow-y: scroll;
    .message {
      width: 100%;
      text-align: right;
      &__user_name {
        a {
          color: #ffffff;
          font-size: 1.4rem;
          text-decoration: none;
        }
        a:hover {
          color: rgba( 255, 255, 255, 0.6);
        }
      }
      &__date {
        font-size: 1rem;
      }
      &__text {
        display: inline-block;
        background: rgba(0, 0, 0, 0.5);
        padding: 15px;
        border-radius: 10px;
        letter-spacing: 1px;
        word-wrap: break-word;
        margin-bottom: 10px;
      }
    }
    .my_message {
      text-align: left;
      padding: 0 0 0 40px;
    }
  }
  .form {
    .dm_form {
      position: absolute;
      display: flex;
      bottom: 0;
      width:100%;
      height: 80px;
      padding: 0 10%;
      &__text {
        width: 100%;
        font-size: 2rem;
        color: #000000;
        padding: 10px;
        margin-right: 15px;
        border-radius: 15px;
        outline: none;
      }
      &__text:focus {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.6)inset;
      }
      &__btn {
        background: rgba(200, 200, 200, 0.8);
        border-radius: 10px;
      }
    }
  }
}


@media (max-width:599px){

.dm_contents {
  .messages {
    width: 70%;
    margin: 0 auto;
    padding-right: 30px;
    overflow-y: scroll;
    .message {
      width: 100%;
      text-align: right;
      &__user_name {
        a {
          color: #ffffff;
          font-size: 1.2rem;
          text-decoration: none;
        }
        a:hover {
          color: rgba( 255, 255, 255, 0.6);
        }
      }
      &__text {
        display: inline-block;
        background: rgba(0, 0, 0, 0.5);
        padding: 15px;
        border-radius: 10px;
        letter-spacing: 1px;
        word-wrap: break-word;
        margin-bottom: 10px;
      }
    }
    .my_message {
      text-align: left;
      padding: 0 0 0 40px;

    }
  }
  .form {
    .dm_form {
      position: absolute;
      display: flex;
      bottom: 0;
      width:100%;
      height: 80px;
      padding: 0 10%;
      &__text {
        width: 100%;
        font-size: 2rem;
        color: #000000;
        padding: 10px;
        margin-right: 15px;
        border-radius: 15px;
        outline: none;
      }
      &__text:focus {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.6)inset;
      }
      &__btn {
        background: rgba(200, 200, 200, 0.8);
        border-radius: 10px;
      }
    }
  }
}

}
