
.follow_contents {
  display: flex;
  justify-content: space-around;
  width: 25%;
  color: #ffffff;
  margin: 0 auto;
  color: $defoult-font-color;
  .follow_content,
  .follower_content {
    background: $opacity-color;
    width: 40%;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)inset;
    .follow_list_btn,
    .follower_list_btn {
      color: $defoult-font-color;
      text-decoration: none;
    }
  }
  .follow_content {
    margin-right: 10px;
  }
  .follow_content:hover,
  .follower_content:hover {
    background-color: $btn-hover-color;
  }
}
.follow_user {
  width: 35%;
  color: $defoult-font-color;
  margin: 10px auto 0;
  padding: 5px 30px;
  display: flex;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  &__link {
    text-decoration: none;
    &__name {
      color: $defoult-font-color;
      font-size: 2rem;
      text-decoration: none;
      letter-spacing: 1px;
    }
    &__name:hover {
      color: rgba(0, 0, 0, 0.2);
    }
  }
  &__btn {
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.6);
    padding: 3px 10px;
    border-radius: 10px;
    .prf-btn {
      color: $defoult-font-color;
      font-size: 1.4rem;
      text-decoration: none;
    }
  }
  &__btn:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
}


@media (max-width:599px){
.follow_contents {
  width: 90%;
  .follow_content,
  .follower_content {
    width: 45%;
    padding: 0.8rem;
    .follow_list_btn,
    .follower_list_btn {
    }
  }
  .follow_content {
    margin-right: 0.5rem;
  }
  .follow_content:hover,
  .follower_content:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
}
.follow_user {
  width: 80%;
  padding: 5px 1.5rem;
  &__link {
    &__name {
      font-size: 1.4rem;
    }
    &__name:hover {
    }
  }
  &__btn {
    .prf-btn {
      font-size: 1rem;
    }
  }
  &__btn:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
}
