
.contents {
  height: calc(100% - 80px);
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}

// .top_page {
//   height: 100%;
//   width: 100%;
//   .main_image {
//     display: inline-block;
//     object-fit: cover;
//     height: 100%;
//     max-width: 100%;
//   }
// }
