
$image-shadow-color: gray;
$defoult-font-color: black;
$opacity-color: rgba(0, 0, 0, 0.1);
$btn-hover-color: rgba(233, 233, 233, 0.3);
$font-hover-color: rgba(0, 0, 0, 0.2);

@mixin header-font-color($color: rgb(123, 123, 123), $weight: bold) {
  color: $color;
  font-weight: $weight;
}

@mixin btn-color ($color: $defoult-font-color, $background-color: $opacity-color, $border: 1px solid $defoult-font-color){
  color: $color;
  background-color: $background-color;
  border: $border;
}
