
$image-shadow-color: gray;
$defoult-font-color: black;
$opacity-color: rgba(0, 0, 0, 0.1);

@mixin header-font-color($color: rgb(123, 123, 123), $weight: bold) {
  color: $color;
  font-weight: $weight;
}
