
.site_title {
  font-size: 12rem;
  text-shadow:  5px 5px 1rem #000000;
  letter-spacing: 3px;
  margin-bottom: 100px;
  color: white;
  display: inline-block;
}

.work-search-form {
  display: inline-block;
}

.top_page {
    margin: 0 auto;
    max-height: 100%;
    height: 500px;
    text-align: left;
    position: relative;
    overflow: hidden;
}
.guest-login {
  padding: 1.5rem;
}
.guest-btn {
  width: 35rem;
  background: rgba(0, 0, 0, 0.2);
  font-size: 2rem;
  color: $defoult-font-color;
  text-decoration: none;
  padding: 2rem;
  border-radius: 5%;
}
.guest-btn:hover {
  color: $defoult-font-color;
  background: rgba(0, 0, 0, 0.1);
}

.loop_slider {
    float: left;
    display: inline;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.loop_slider__contents {
    float: left;
    display: inline;
    overflow: hidden;
    margin: 0;
}

.loop_image {
  width: 500px;
  height: auto;
  padding: 15px 5px;
  background-color: #ffffff;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  border-top: 2px solid rgba(0, 0, 0, 0.3);
  // box-shadow: 0 0 15px #ffffff inset;
}

.loop_slider:after {
    content: ".";
    height: 0;
    clear: both;
    display: block;
    visibility: hidden;
}

.top_page ul {
    display: inline-block;
    overflow: hidden;
}


@media (max-width:599px){

.top_page {
    height: 250px;
}

.loop_image {
  width: 250px;
}


.guest-login {
  padding: 0.5rem;
}
.guest-btn {
  width: 10rem;
  font-size: 1.2rem;
  padding: 0.8rem;
}

}
