
.site_title {
  font-size: 12rem;
  text-shadow:  5px 5px 15px #000000;
  letter-spacing: 3px;
  margin-bottom: 100px;
}

.top_page {
    margin: 0 auto;
    max-height: 100%;
    height: 500px;
    text-align: left;
    position: relative;
    overflow: hidden;
}
.guest-login {
  padding: 1.5rem;
}
.guest-btn {
  width: 35rem;
  background: rgba(255, 255, 255, 0.2);
  font-size: 2rem;
  color: #ffffff;
  text-decoration: none;
  padding: 2rem;
  border-radius: 5%;
}
.guest-btn:hover {
  color: #ffffff;
  background: rgba(255, 255, 255, 0.5);
}

.loop_slider {
    float: left;
    display: inline;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.loop_slider__contents {
    float: left;
    display: inline;
    overflow: hidden;
    margin: 0;
}

.loop_image {
  width: 500px;
  height: auto;
  padding: 15px;
  box-shadow: 0 0 20px #ffffff inset;
}

.loop_slider:after {
    content: ".";
    height: 0;
    clear: both;
    display: block;
    visibility: hidden;
}

.top_page ul {
    display: inline-block;
    overflow: hidden;
}


@media (max-width:599px){

.top_page {
    height: 250px;
}

.loop_image {
  width: 250px;
}

}
