
.camera_boxes {
  overflow-y: auto;
  padding: 15px 0;
  .camera_link {
    .camera_box {
      width: 30%;
      padding: 5px;
      margin: 0 auto;
      display: flex;
      border: 1px solid #ffffff;
      .mini-prf-image-box {
        width: 30%;
        margin: 5px;
        .mini-prf-image {
          widows: 50px;
          height: 35px;
          border-radius: 10px;
        }
      }
      .camera_name {
        font-size: 2.5rem;
        color: #ffffff;
      }
    }
    .camera_box:hover {
      background: rgba(255, 255, 255, 0.2);
    }
  }
   .agein_prefecture {
      color: #ffffff;
      font-size: 1.6rem;
      border: 1px solid rgba(255, 255, 255, 0.8);
      padding: 12px;
      margin: 20px;
      display: inline-block;
    }
    .agein_prefecture:hover {
      background: rgba(255, 255, 255, 0.2);
      color: #ffffff;
    }
}

@media (max-width:599px){
.camera_boxes {
  .camera_link {
    .camera_box {
      width: 60%;
    }
  }
}
}
