%h2.heading
  Direct Message List

.dm_list
  - @users_rooms.each do |user_room|
    .dm_list__content
      = link_to room_path(user_room[:room]), class: "dm_list__content__link" do
        .dm_list__content__link__box
          %h3.dm_list__content__link__box__name
            = user_room[:user].name
          %p.dm_list__content__link__box__message
            = user_room[:message]
