%h2.heading
  Direct Message List

.dm_list
  - @rooms.each do |room|
    .dm_list__content
      = link_to room_path(room), class: "dm_list__content__link" do
        .dm_list__content__link__box
          %h3.dm_list__content__link__box__name
            = opponent_user(room)
            = new_message_badga(room)
          %p.dm_list__content__link__box__message
            = most_new_message_preview(room)
