@import "normalize";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "modules/header";
@import "modules/top_page";
@import "modules/memories";
@import "modules/memory_show";
@import "modules/users_index";
@import "modules/users_show";
@import "modules/dm";
@import "modules/follow_list";
@import "modules/colection";
@import "modules/profile_edit";
@import "modules/search";
@import "modules/new_post";

html {
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: border-box;
}


body {
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-family:'Josefin Slab', "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.wrapper {
  height: 100vh;
  width: 100vw;
}

.contents {
  padding: 40px 40px 10px;
  height: calc(100% - 80px);
  widows: 100%;
  a {
    text-decoration: none;
  }
}

.heading {
  position: relative;
  display: inline-block;
  font-size: 2.5rem;
  letter-spacing: 1px;
  padding-bottom: 8px;
}
.heading::before,
.heading::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom:1px solid #cccccc ;
}

.heading::before {
  bottom: 5px;
}

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}


.alert-notice {
  background: rgba(255, 255, 255, 0.2);
  width: 40%;
  margin: 0 auto;
  .close {
    color: #fff;
  }
}

.alert-alert {
  // @extend .alert-danger;
  background: rgba(255, 255, 255, 0.2);
  width: 40%;
  margin: 0 auto;
  .close {
    color: #fff;
  }
}


@media (max-width:599px){
.wrapper {

}
}
