@import "normalize";
@import "bootstrap";
@import "modules/mixin";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "modules/header";
@import "modules/top_page";
@import "memory/memories";
@import "memory/memory_show";
@import "users/users_index";
@import "users/users_show";
@import "message/dm";
@import "modules/follow_list";
@import "memory/colection";
@import "users/profile_edit";
@import "users/search";
@import "memory/new_post";
@import "message/dm_list";
@import "modules/respon";
@import "modules/user_content";
@import "others/befoer_search";
@import "modules/form";
@import "works/show";

html {
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: border-box;
}


body {
  color: $defoult-font-color;
  text-align: center;
  font-size: 1.4rem;
  font-family:'Josefin Slab', "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.wrapper {
  height: 100vh;
  width: 100vw;
}

.contents {
  padding: 40px 40px 10px;
  height: calc(100% - 80px);
  width: 100%;
  overflow: auto;
  a {
    text-decoration: none;
  }
}

.heading {
  color: $defoult-font-color;
  position: relative;
  display: inline-block;
  font-size: 2.5rem;
  letter-spacing: 1px;
  padding-bottom: 8px;
}
.heading::before,
.heading::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom:1px solid black ;
}

.heading::before {
  bottom: 5px;
}

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}


.alert-notice {
  background: $opacity-color;
  width: 40%;
  margin: 0 auto;
  .close {
    color: #fff;
  }
}

.alert-alert {
  // @extend .alert-danger;
  background: rgba(0, 0, 0, 0.2);
  width: 40%;
  margin: 0 auto;
  .close {
    color: $defoult-font-color;
  }
}


@media (max-width:599px){
.wrapper {

}
.contents {
  padding: 4rem 1rem 1rem;
  height: calc(100% - 4rem);
}
}
